<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    User Messagings

    <a data-toggle="collapse" href="#product_description_user_messagings_new_form">
      Add user messaging
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @product_description.user_messagings.each do |user_messaging| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to user_messaging, user_messaging %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to user_messaging, method: :delete, data: { confirm: "Do you really want to delete this user_messaging" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="product_description_user_messagings_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
