<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @product_description, partial: "card", as: :product_description %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "product_descriptions/product_description_items_for_sales" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "product_descriptions/product_description_user_messagings" %>
  </div>
</div>
