<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @items_for_sale, partial: "card", as: :items_for_sale %>
  </div>
</div>

  <!-- Show Page Customization starts -->
  <!-- Show Page Customization end -->
