<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @user_datum, partial: "card", as: :user_datum %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_data/user_datum_seller_id" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_data/user_datum_user_messagings" %>
  </div>
</div>
  <!-- Show Page Customization end -->
